---
import Navbar from "../components/Navbar.svelte";
---

<div class="flex flex-col h-screen">
  <Navbar client:load />

  <div class="flex-1 p-4 bg-primary">
    <p class="text-secondary">test</p>
  </div>
</div>
